body{
    font-family:fantasy;
    background-color: rgb(57, 49, 91);
    color:white;
    text-align: center;
}

main{
   
    background-color: darkcyan;
    width:400px;
    margin: auto;
    border-radius: 10px;
    padding:10px;    
}

#butao{
    border-radius:10px;
    color:black;
}